body {
    font-family:'Times New Roman', Times, serif;
}

/* header */
.h0-container {
    color: white;
    background-color: rgb(23, 23, 37);  
    padding-left: 100px;
    padding-right: 100px;
}


.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 900;  
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
   text-decoration: none; 
   color: white;
   font-size: small;
}






/* Content */
.h2-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex-shrink: 1;
    gap: 15px;
}

#life {
    font-weight: 900;
    font-size: 44px;
    flex-wrap: wrap;
}

#game {
    font-size: 18px;
}

.h3-container {
    display: flex;
    justify-content: space-between;
    
}