body {
    font-family:'Times New Roman', Times, serif;
}

/* header */
.h0-container {
    color: white;
    background-color: #1f2937;  
    padding-left: 100px;
    padding-right: 100px;
}


.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 900;  
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

a {
   text-decoration: none; 
   color: white;
   font-size: small;
   font-weight: 300;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: 300;
    font-size: 18px;
    border-radius: 5px;
    border-color: white;
    
}






/* Heading Content */
.h2-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex-shrink: 1;
    gap: 15px;
}

#life {
    font-weight: 900;
    font-size: 44px;
    flex-wrap: wrap;
}

#game {
    font-size: 18px;
}

.h3-container {
    display: flex;
    justify-content: space-between;
    
}



/* Card content */
.content-0 {
    padding: 50px;
    text-align: center;
}

.random-1 {
    padding: 40px;
    font-size: 36px;
    font-weight: 900;
}


.card-container {
   display: flex;
   gap: 30px;
 
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.text {
    padding: 10px ;
}

img {
    border-radius: 5px;
}

/* Quote content */

#content-1 {
   
    gap: 50px;
    padding: 50px;
    background-color: #e5e7eb ;
}

#quote {
    font-size: 36px;
    font-style: italic;
    text-align: center;
}

#author {
    font-size: 24px;
    font-style: italic;
   text-align: end;
}

.quote-container {
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

#content-2 {
    padding: 50px;
    margin: 100px;
    color: white;
    background-color: #3882f6;
    border-radius: 5px;
   
    
    
    
}

.cta-force {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
}

.b-container {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    

}
/* Footer content */

.footer {
    display: flex;
    background-color: #1f2937;
    color:#f9faf8 ;
    justify-content: center;
    padding: 20px;
}